.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100vw;
	height: 10vh;
	padding: 2px 0;
	padding: 0 2rem;
	background: transparent;

	&.navbar-scrolled {
		border-bottom: 1px solid rgba($dark_green, .45);
		background: rgb(26, 25, 25);
		height: 7.5vh;
		.nav-link {
			a {
				font-size: .85rem;
			}
		}
		.nav-brand {
			display: inline;
			margin-right: auto;
		}
	}

	.nav-brand {
		color: #fff;
		justify-self: self-start;
		display: none;
		margin-right: 0;
	}

	.nav-link {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		margin: 0 2rem;
		cursor: pointer;

		a {
			color: #fff;
			font-size: 1rem;
		}
		
		.nav-border {
			margin-top: 5px;
			width: 10px;
			height: 2px;
			background: $green_text;
			border-radius: 10px;
			transition: all .3s ease-in-out;
		}
		
		&:hover > a {
			color: $green_text;
			font-weight: bold;
		}

		&:hover > .nav-border {
			width: 100%;
		}
	}
}
