.terminal-menu {
	position: fixed;
	bottom: 2rem;
	left: 4rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: $green_text;
	border: 1px solid $green_text;
	padding: .5rem .85rem;
	border-radius: 100px;
	background: rgb(20, 19, 19);
	z-index: 2;

	p {
		margin: 0 5px;
		cursor: pointer;
		font-size: .75rem;
	}

	.terminal-menu-button{
		display: none;
	}
	
}

.terminal-wrapper{
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(black, .5);
	z-index: 20;

	.terminal-backdrop{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.terminal-base{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 65%;
		height: 65%;
	}

}
