@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
:root {
  --laptop-content: "\a     _________________\a    |                 |\a    |                 |\a    |                 |\a    |                 |\a    |                 |\a    |                 |\a    |                 |\a    /.-.-.-.-.-.-.-.-.\\\a   /.-.-.-.-.-.-.-.-.-.\\\a  /.-.-.-.-.-.-.-.-.-.-.\\\a/______/__________\\_____\\ \a\\_______________________/";
  --lap-width: 404px;
  --lap-height: 370px;
  --lap-img-margin-left: 72px;
  --lap-img-margin-top: 32px;
  --lap-img-margin-width: 255px;
  --lap-img-margin-height: 180px;
  --lap-img-border-width: 2px;
  --lap-font-size: 32px;
  --lap-left: -96px;
  --lap-top: -72px;
  --lap-padding-left: 96px;
  --lap-padding-top: 32px;
  --lg-scale: 2;
  --sm-scale: .5;
}

.laptop {
  position: relative;
  font-size: 100%;
  width: var(--lap-width);
  height: var(--lap-height);
  overflow: hidden;
}

.laptop img {
  margin-left: var(--lap-img-margin-left);
  margin-top: var(--lap-img-margin-top);
  width: var(--lap-img-margin-width);
  height: var(--lap-img-margin-height);
  object-fit: contain;
  background: black;
  border: solid var(--lap-img-border-width);
}

.laptop::after {
  content: var(--laptop-content);
  white-space: pre;
  position: absolute;
  font-size: var(--lap-font-size);
  left: var(--lap-left);
  top: var(--lap-top);
  font-family: "Courier New", Courier, monospace;
  padding-left: var(--lap-padding-left);
  padding-top: var(--lap-padding-top);
  line-height: 0.9em;
  letter-spacing: -0.1em;
}

.laptop-lg {
  position: relative;
  font-size: 100%;
  width: calc(var(--lg-scale) * var(--lap-width));
  height: calc(var(--lg-scale) * var(--lap-height));
  overflow: hidden;
}

.laptop-lg img {
  margin-left: calc(var(--lg-scale) * var(--lap-img-margin-left));
  margin-top: calc(var(--lg-scale) * var(--lap-img-margin-top));
  width: calc(var(--lg-scale) * var(--lap-img-margin-width));
  height: calc(var(--lg-scale) * var(--lap-img-margin-height));
  object-fit: fill;
  background: black;
  border: solid calc(var(--lg-scale) * var(--lap-img-border-width));
}

.laptop-lg::after {
  content: var(--laptop-content);
  white-space: pre;
  position: absolute;
  font-size: calc(var(--lg-scale) * var(--lap-font-size));
  left: calc(var(--lg-scale) * var(--lap-left));
  top: calc(var(--lg-scale) * var(--lap-top));
  font-family: "Courier New", Courier, monospace;
  padding-left: calc(var(--lg-scale) * var(--lap-padding-left));
  padding-top: calc(var(--lg-scale) * var(--lap-padding-top));
  line-height: 0.9em;
  letter-spacing: -0.1em;
}

.laptop-sm {
  position: relative;
  font-size: 100%;
  width: calc(var(--sm-scale) * var(--lap-width));
  height: calc(var(--sm-scale) * var(--lap-height));
  overflow: hidden;
}

.laptop-sm img {
  margin-left: calc(var(--sm-scale) * var(--lap-img-margin-left));
  margin-top: calc(var(--sm-scale) * var(--lap-img-margin-top));
  width: calc(var(--sm-scale) * var(--lap-img-margin-width));
  height: calc(var(--sm-scale) * var(--lap-img-margin-height));
  object-fit: contain;
  background: black;
  border: solid calc(var(--sm-scale) * var(--lap-img-border-width));
}

.laptop-sm::after {
  content: var(--laptop-content);
  white-space: pre;
  position: absolute;
  font-size: calc(var(--sm-scale) * var(--lap-font-size));
  left: calc(var(--sm-scale) * var(--lap-left));
  top: calc(var(--sm-scale) * var(--lap-top));
  font-family: "Courier New", Courier, monospace;
  padding-left: calc(var(--sm-scale) * var(--lap-padding-left));
  padding-top: calc(var(--sm-scale) * var(--lap-padding-top));
  line-height: 0.9em;
  letter-spacing: -0.1em;
}

.terminal-menu {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #20C20E;
  border: 1px solid #20C20E;
  padding: 0.5rem 0.85rem;
  border-radius: 100px;
  background: #141313;
  z-index: 2;
}
@media (max-width: 800px) {
  .terminal-menu {
    display: none;
  }
}
.terminal-menu p {
  margin: 0 5px;
  cursor: pointer;
  font-size: 0.75rem;
}
.terminal-menu .terminal-menu-button {
  display: none;
}

.terminal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  z-index: 20;
}
.terminal-wrapper .terminal-backdrop {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.terminal-wrapper .terminal-base {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 65%;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 10vh;
  padding: 2px 0;
  padding: 0 2rem;
  background: transparent;
}
.navbar .nav-menu-trigger {
  color: #fff;
  margin-right: 10px;
  display: none;
}
@media (max-width: 500px) {
  .navbar .nav-menu-trigger {
    display: inline-block;
  }
}
.navbar .nav-mobile-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.95);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: left 0.5s ease-in;
}
.navbar .nav-mobile-wrapper.show {
  left: 0;
}
.navbar .nav-mobile-wrapper * {
  font-size: 1.2rem;
  color: #fff;
  margin: 0.85rem 0;
}
.navbar .nav-mobile-wrapper *:last-child {
  font-size: 1.65rem;
}
@media (max-width: 500px) {
  .navbar .nav-mobile-wrapper {
    display: flex;
  }
}
.navbar.navbar-scrolled {
  border-bottom: 1px solid rgba(28, 131, 17, 0.45);
  background: #1a1919;
  height: 7.5vh;
}
.navbar.navbar-scrolled .nav-link a {
  font-size: 0.85rem;
}
.navbar.navbar-scrolled .nav-brand {
  display: inline;
  margin-right: auto;
}
@media (max-width: 768px) {
  .navbar.navbar-scrolled {
    height: 10vh;
  }
}
.navbar .nav-brand {
  color: #fff;
  justify-self: self-start;
  display: none;
  margin-right: 0;
}
@media (max-width: 500px) {
  .navbar .nav-brand {
    margin-left: auto;
    display: inline;
    margin-right: auto;
  }
}
.navbar .nav-link {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 2rem;
  cursor: pointer;
}
.navbar .nav-link a {
  color: #fff;
  font-size: 1rem;
}
.navbar .nav-link .nav-border {
  margin-top: 5px;
  width: 10px;
  height: 2px;
  background: #20C20E;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.navbar .nav-link:hover > a {
  color: #20C20E;
  font-weight: bold;
}
.navbar .nav-link:hover > .nav-border {
  width: 100%;
}
@media (max-width: 800px) {
  .navbar .nav-link {
    margin: 0 1rem;
  }
  .navbar .nav-link a {
    font-size: 0.75rem;
  }
}
@media (max-width: 500px) {
  .navbar .nav-link {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono";
  scroll-behavior: smooth;
  outline-width: 0;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

.green-text {
  color: #20C20E !important;
}

.cp {
  cursor: pointer;
}

.home_banner {
  width: 100vw;
  height: 100vh;
  background: #141313;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  position: relative;
  background: transparent;
}
.home_banner .backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #141313;
  z-index: -1;
  display: flex;
}
.home_banner .backdrop .left,
.home_banner .backdrop .right {
  width: 100%;
  height: 100%;
}
.home_banner .backdrop .left {
  background: #1a1919;
  clip-path: polygon(0 0, 100% 0%, 100% 15%, 0 85%);
}
.home_banner .headshot {
  margin-top: -30px;
  width: 200px;
  height: 200px;
  margin: 1rem 0;
  border-radius: 1000px;
  border: 10px solid #1c8311;
  overflow: hidden;
}
.home_banner .headshot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateY(25px) scaleX(-1) scale(1.3);
}
@media (max-width: 768px) {
  .home_banner .headshot {
    width: 160px;
    height: 160px;
    border-width: 2px;
  }
  .home_banner .headshot img {
    transform: translateY(20px) scaleX(-1) scale(1.3) !important;
  }
}
.home_banner > div {
  width: 100%;
}
.home_banner h1 {
  font-size: 1.85rem;
  width: 75%;
  display: inline;
  margin-bottom: 1rem;
}
.home_banner .icons {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  right: 5rem;
}
.home_banner .icons a {
  font-size: 1.75rem;
  margin: 0.85rem 0;
  cursor: pointer;
  color: #fff;
}
.home_banner .go_down {
  position: absolute;
  bottom: 1.2rem;
  font-size: 0.75rem;
  cursor: pointer;
  animation-name: bounce;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 1000px;
}
.home_banner .go_down:hover {
  animation: none;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .home_banner h1 {
    font-size: 1.2rem !important;
  }
  .home_banner .name span {
    display: inline-block;
    margin-top: 10px;
  }
  .home_banner .icons {
    margin-top: 1rem;
    width: 75%;
    right: 0;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .home_banner .icons a {
    font-size: 1.5rem;
  }
}
@media (max-width: 400px) {
  .home_banner h1 {
    font-size: 1rem !important;
  }
}

.work {
  padding: 5rem 2.5rem;
  height: calc(900px + 5rem);
  background: #06476d;
}
@media (max-width: 800px) {
  .work {
    height: auto;
    padding: 1.5rem 0.5rem;
  }
}
.work .work-folder {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  color: #fff;
  background: #1d1d1d;
}
@media (max-width: 800px) {
  .work .work-folder {
    display: none;
  }
}
.work .work-folder .folder-header {
  width: 100%;
  height: 10%;
  padding: 1rem 3rem;
  background: #bebdbd;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #000;
  font-size: 1.45rem;
}
.work .work-folder .folder-header .folder-header-expand {
  margin-left: auto;
  font-size: 1.1rem;
  cursor: pointer;
}
.work .work-folder .folder-body {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-right: 1px solid #1c8311;
  border-left: 1px solid #1c8311;
  border-bottom: 1px solid #1c8311;
}
.work .work-folder .folder-body .tree {
  width: 35%;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: stretch;
  border-right: 1px solid #1c8311;
}
.work .work-folder .folder-body .tree .tree-line {
  width: 2px;
  background: #20C20E;
  align-self: stretch;
}
.work .work-folder .folder-body .tree .company-list {
  width: 65%;
}
.work .work-folder .folder-body .tree .company-list h3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  margin-bottom: 2rem;
  font-size: 1.15rem;
  font-family: "Poppins";
  font-weight: 400;
}
.work .work-folder .folder-body .tree .company-list h3:hover {
  color: #1c8311;
}
.work .work-folder .folder-body .tree .company-list h3.selected {
  color: #20C20E;
}
.work .work-folder .folder-body .tree .company-list h3.selected .bar {
  background: #20C20E;
}
.work .work-folder .folder-body .tree .company-list h3 .bar {
  width: 10%;
  height: 2px;
  background: white;
  margin-right: 10px;
}
.work .work-folder .folder-body .work-info {
  width: 85%;
  padding: 1em 2em;
  height: 100%;
  overflow-y: scroll;
}
.work .work-folder .folder-body .work-info::-webkit-scrollbar {
  width: 5px;
  padding: 10px 0;
}
.work .work-folder .folder-body .work-info::-webkit-scrollbar-thumb {
  background: #20C20E;
  height: 30px;
  margin: 10px 0;
}
.work .work-folder .folder-body .work-info * {
  font-family: "Poppins";
}
.work .work-folder .folder-body .work-info h1 {
  font-size: 1.7rem;
}
.work .work-folder .folder-body .work-info p {
  margin: 1rem 0;
  font-size: 1rem;
  font-style: italic;
}
.work .work-folder .folder-body .work-info .divider {
  height: 1px;
  background: #20C20E;
  border: none;
}
.work .work-folder .folder-body .work-info h3 {
  margin: 1rem 0;
}
.work .work-folder .folder-body .work-info ul {
  margin-left: 3%;
  list-style: none;
}
.work .work-folder .folder-body .work-info ul li {
  margin: 0.9rem 0;
}
.work .work-folder .folder-body .work-info ul li::before {
  content: "</>";
  color: #20C20E;
  padding-right: 8px;
}
.work .work-folder .folder-body .work-info .tech-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  cursor: pointer;
}
.work .work-folder .folder-body .work-info .tech-wrapper .tech {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #20C20E;
  font-weight: bold;
  transition: all 0.25s ease-in;
}
.work .work-folder .folder-body .work-info .tech-wrapper .tech:hover {
  color: black;
  background: #20C20E;
}
.work .work-mobile {
  width: 100%;
  display: none;
}
.work .work-mobile h2 {
  color: white;
  text-align: center;
  font-size: 1.4rem;
  font-family: "Poppins";
  font-weight: 100;
}
.work .work-mobile .works-wrapper {
  width: 100%;
}
@media (max-width: 800px) {
  .work .work-mobile {
    display: grid !important;
  }
  .work .work-mobile .work-folder {
    display: block;
    margin: 1rem 0;
    width: 100%;
    height: auto;
  }
  .work .work-mobile .work-folder .folder-header {
    max-width: 100%;
    height: 64px;
    padding: 0.85rem;
  }
  .work .work-mobile .work-folder .folder-header h3 {
    font-size: 1.2rem;
  }
  .work .work-mobile .work-folder .folder-body {
    width: 100%;
  }
  .work .work-mobile .work-folder .folder-body .work-info {
    width: 100%;
    padding: 0.5rem;
  }
  .work .work-mobile .work-folder .folder-body .work-info h1 {
    font-size: 1.3rem;
  }
  .work .work-mobile .work-folder .folder-body .work-info p,
.work .work-mobile .work-folder .folder-body .work-info li {
    font-size: 0.85rem;
  }
  .work .work-mobile .work-folder .folder-body .work-info .tech-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .work .work-mobile .work-folder .folder-body .work-info .tech > p {
    font-weight: lighter;
  }
}
.work .work-mobile .work-folder-mobile {
  margin-bottom: 1rem;
}

.projects {
  padding: 5rem 2.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.projects h1 {
  font-size: 2rem;
  padding-left: 1rem;
  border-left: 5px solid red;
  margin-bottom: 2.5rem;
  align-self: flex-start;
}
@media (max-width: 500px) {
  .projects {
    padding: 2rem 1rem;
  }
  .projects h1 {
    font-size: 1.4rem;
  }
}
.projects .project-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 75%;
  margin: 1rem 0;
  margin-bottom: 2rem;
}
.projects .project-wrapper .mobile-pic {
  display: none;
}
@media (max-width: 500px) {
  .projects .project-wrapper {
    width: 95%;
    flex-direction: column !important;
    margin-bottom: 1.5rem;
  }
  .projects .project-wrapper .demo .laptop {
    display: none;
  }
  .projects .project-wrapper .demo .mobile-pic {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0 0 16px -4px red;
    margin-bottom: 0.5rem;
  }
  .projects .project-wrapper .demo .mobile-pic img {
    width: 100%;
    object-fit: contain;
  }
  .projects .project-wrapper .info {
    padding: 0 !important;
    margin: 0.85rem 0 !important;
  }
  .projects .project-wrapper .info h1 {
    font-size: 1.3rem;
  }
  .projects .project-wrapper .info p {
    font-size: 0.85rem;
  }
  .projects .project-wrapper .info .actions {
    margin: 0 !important;
  }
  .projects .project-wrapper .info .actions a {
    font-size: 0.85rem;
    padding: 8px 1rem;
    margin: 10px;
    background-color: red;
    color: #fff !important;
  }
  .projects .project-wrapper .info .actions a:first-child {
    margin-left: 0;
  }
}
@media (max-width: 400px) {
  .projects .project-wrapper .actions {
    padding: 0;
    width: 100%;
    margin: 0 !important;
    display: grid;
    grid-template-columns: 1;
  }
  .projects .project-wrapper .actions a {
    font-size: 0.85rem;
    padding: 8px 1rem;
    margin: 10px 0;
  }
}
.projects .project-wrapper:last-child {
  margin-bottom: 0;
}
.projects .project-wrapper:nth-child(odd) {
  flex-direction: row-reverse;
}
.projects .project-wrapper .info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 1.5rem;
  padding: 1rem;
}
.projects .project-wrapper .info h1 {
  margin-bottom: 1rem;
}
.projects .project-wrapper .info a {
  color: black;
  border-bottom: 1px solid red;
}
.projects .project-wrapper .info p {
  margin: 0.5rem 0;
  text-align: justify;
}
.projects .project-wrapper .info p span {
  color: red;
}
.projects .project-wrapper .info .actions {
  margin: 1rem 0;
}
.projects .project-wrapper .info .actions a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 14px;
  border: 1px solid red;
  margin-right: 1rem;
  color: red;
  transition: all 0.4s ease-out;
}
.projects .project-wrapper .info .actions a:hover {
  background: red;
  color: white;
}

/*# sourceMappingURL=index.css.map */
